.frame-component {}

  .frame-component .frame {
    position: relative;
    width: 70%;
    max-width: 977px;
  }

    .frame-component .frame img.background {
      display: block;
      width: 100%;
    }

    .frame-component .frame .content-group {
      position: absolute;
      top: 0; bottom: 0;
      left: 0; right: 0;
      margin: 12px;
    }

      .frame-component .frame .content-group > * {
        margin-left: 2em;
        margin-right: 2em;
        text-align: center;
      }
