.slides-component {}
  
  .slides-component > div {
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    transition: transform 0.5s;
    transform: translateX(100%);
  }

  .slides-component > .OPEN {
    transform: translateX(0);
  }

  .slides-component > .LEAVE {
    transform: translateX(-100%);
  }
